* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "luxurious roman", "arial", "Times New Roman", Times, serif;
  color: var(--backround-color-pismo);
  position: relative;
}
:root {
  --backround-color-header: #b0dcc9;
  --backround-color-gray: #8b8a89;
  --backround-color-light-gray: #d4d2d0;
  --backround-color-pismo: #6e6e6e;
  --backround-color-sekce: #d1e2db;
  --background-color-sekce2: #ffffff;
}

h2 {
  padding-bottom: 20px;
  line-height: 1;
}
p {
  padding-bottom: 20px;
}
.dark {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 10px;
  color: var(--backround-color-pismo);
}
.light {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 40px;
  color: var(--backround-color-pismo);
}
.scroll-up {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 70px;
  color: var(--backround-color-pismo);
  border-radius: 50%;
  opacity: 0.8;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--backround-color-header);
  height: 100px;
}
.logo {
  flex-grow: 1;
}
.logo img {
  width: 200px;
  margin-left: 20px;
}
nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}
nav li a {
  text-decoration: none;
  color: var(--backround-color-pismo);
}
a:hover {
  color: var(--backround-color-gray);
  background-color: var(--backround-color-light-gray);
}

.menu-icon {
  color: var(--backround-color-light-green);
  display: none;
  margin-right: 30px;
}
@media (max-width: 600px) {
  header {
    position: relative;
  }
  nav {
    position: absolute;
    top: 70px;
    background-color: var(--backround-color-header);
    width: 100%;
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 23px;
  }
  nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 600px) {
  header nav {
    display: block !important;
  }
}
.hero {
  background-image: url("/img/pexels-valeriya-939050.jpg");
  background-size: cover;
  background-position: top;
  min-height: calc(90vh - 100px);
}

.about-me {
  background-color: var(--backround-color-sekce);
  text-align: center;
  padding: 80px 100px;
}
.about-me h2 {
  line-height: 2;
}
.about-me-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  object-fit: cover;
  border-radius: 5px;
}
.about-me img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
}
.about-me img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 70px 20px;
  }
  .about-me img {
    max-width: 330px;
    max-height: 250px;
  }
  .about-me img:hover {
    transform: none;
  }
}
@media (max-width: 992px) {
  .about-me {
    padding: 70px 20px;
  }
  .about-us img {
    max-width: 500px;
  }
}
.where-to-go {
  background-color: var(--background-color-sekce2);
  padding: 80px 100px;
}
.where-to-go h2 {
  text-align: center;
  line-height: 4;
}
.where-to-go h3 {
  line-height: 3;
}
.where-to-go-galerie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.where-to-go img {
  width: 390px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.where-to-go img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .where-to-go img:hover {
    transform: none !important;
  }
  .where-to-go img {
    width: 300px;
    max-height: 250px;
  }
}
@media (max-width: 992px) {
  .where-to-go {
    padding: 70px 20px !important;
  }
  .where-to-go-galerie {
    gap: 25px;
  }
  .where-to-go-galerie img {
    max-width: 360px;
  }
  .where-to-go h2 {
    text-align: center;
  }
  .where-to-go img:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
}
.write-me {
  background-color: var(--backround-color-sekce);
  padding: 80px 100px;
  display: flex;
  justify-content: center;
}

.notificationName,
.notificationEmail,
.notificationDestination,
.notificationHeslo1,
.notificationHeslo2,
.notificationHesloHlaska {
  display: none;
}
.form {
  height: 300px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form input {
  width: 30vw;
  height: 5vh;
}
.odeslat {
  background-color: var(--backround-color-light-gray);
  border: 2px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .write-me {
    padding: 70px 20px;
  }
  .write-me h2 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .write-me {
    padding: 70px 30px;
    display: flex;
    justify-content: center;
  }
  .write-me h2 {
    text-align: center;
  }
  .form input {
    width: 50vw;
    height: 6vh;
  }
}
footer {
  color: var(--backround-color-pismo);
  background-color: var(--backround-color-header);
}
footer section {
  padding: 25px;
}
footer img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.kontakt {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.kontakt h2 {
  line-height: 1;
}
@media (max-width: 768px) {
  .kontakt {
    padding: 70px 20px !important;
    flex-direction: column;
  }
}
.jmeno {
  display: flex;
  justify-content: center;
}
